cronus-calendar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  .month-selection {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;

    span {
      font-weight: 700;
      color: #00006d;
      text-align: center;
    }
  }

  .days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.3rem 0;

    .helium-day-label {
      font-weight: 700;
      text-align: center;
      color: #212121;
    }
  }

  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 0.2rem;

    .date-grid-item {
      font-size: 12px;
      height: 42.84px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      &:active, &.selected {
        background: rgba(0, 0, 0, 0.15);
      }

      .dot-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        place-content: center;
        height: 5px;
        margin: 0.2rem 0;
        margin-top: 0.5rem;
      }
    }
  }

  .helium-date-btn {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    background: none;
    border-radius: 1rem;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}
